* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #333;
  color: #f4f6f8;
}

header {
  background: #202938;
  color: #f57;
  padding: 30px 20px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 0;
  font-size: 1.1em;
  opacity: 0.9;
}

nav {
  background-color: #3d506f;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

nav a {
  color: #f57;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.2s ease, color 0.2s ease;
}

nav a:hover {
  background-color: #000;
  color: #f57;
}

form {
  margin-top: 30px;
  background-color: #f4f6f8;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

input,
select,
textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #f57;
  outline: none;
}

button {
  padding: 10px 20px;
  width: 100%;
  background-color: #f57;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d1456e;
}

/* Modal Style */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(51, 51, 51, 0.85);
  justify-content: center;
  align-items: center;
}
.modal.active {
  display: flex;
}
.modal-content {
  background: #202938;
  color: #f57;
  margin: auto;
  padding: 32px 26px 22px 26px;
  border-radius: 10px;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-content h2 {
  margin-top: 0;
}
.modal-content button {
  background: #f57;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  margin-top: 18px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 1fr));
  gap: 10px 26px;
  margin-bottom: 2px;
  margin-top: 4px;
}
.genre-grid label {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
}
.genre-grid input[type="checkbox"] {
  accent-color: #f57;
  transform: scale(1.11);
}
@media (max-width: 700px) {
  .genre-grid {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}
